<!DOCTYPE html>
<html>
<%- include('header') %>

  <body>
    <div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="index">
              <span> Bittrader </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about"> About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="process">Process </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="why">Why Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact">Contact Us</a>
                </li>
              </ul>
              <div class="quote_btn-container">
                <a class="" href="login"> Login</a>
                <a href="register" class="quote_btn"> Sign Up </a>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->

      <!-- slider section -->
      <section class="slider_section">
        <div class="container">
          <div class="detail-box">
            <h1>GET YOUR CRYPTO REWARDS</h1>
            <h5 class="secondary_heading">2X/3X YOUR ASSETS</h5>
            <div class="box_container">
              <div class="box">
                <div class="num-box">
                  <span id="countDay"> 7 </span>
                </div>
                <h5>DAY</h5>
              </div>
              <div class="box">
                <div class="num-box">
                  <span id="countHour"> 12 </span>
                </div>
                <h5>Hours</h5>
              </div>
              <div class="box">
                <div class="num-box">
                  <span id="countMin"> 59 </span>
                </div>
                <h5>Min</h5>
              </div>
              <div class="box">
                <div class="num-box">
                  <span id="countSec"> 59 </span>
                </div>
                <h5>Sec</h5>
              </div>
            </div>
            <a href="/login" class="btn2"> PARTICIPATE NOW </a>
          </div>
        </div>
      </section>
      <!-- end slider section -->
    </div>

    <!-- subscribe section -->

    <section class="subscribe_section">
      <div class="container form_container">
        <h5>
          Enter Your bitcoin wallet address to partake in a give away pool
        </h5>
        <form action="">
          <input type="text" placeholder="Enter Your Bitcoin Wallet Address" />
          <button type="submit">Join Now</button>
        </form>
      </div>
    </section>

    <!-- end subscribe section -->

    <!-- process section -->

    <section class="process_section layout_padding">
      <div class="container">
        <div class="heading_container heading_center">
          <h2>Step-By-Step Process</h2>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="box">
              <div class="img_container">
                <div class="img-box">
                  <img src="../public/images/p3.jpg" alt="" />
                </div>
              </div>
              <div class="detail-box">
                <h5>Get Funded</h5>
                <p>
                  Ensure that your wallet is funded before you participate in
                  the give away
                </p>
                <a href=""> Step 1 </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box">
              <div class="img_container">
                <div class="img-box">
                  <img src="../public/images/p4.jpg" alt="" />
                </div>
              </div>
              <div class="detail-box">
                <h5>Select Give Away Pool</h5>
                <p>
                  There are different kinds of give away pools available. Select
                  the pool that suits you
                </p>
                <a href=""> Step 2 </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box">
              <div class="img_container">
                <div class="img-box">
                  <img src="../public/images/p2.jpg" alt="" />
                </div>
              </div>
              <div class="detail-box">
                <h5>Valid Wallet Address</h5>
                <p>
                  Enter your wallet address and ensure it is valid as you will
                  receive your reward in your wallet
                </p>
                <a href=""> Step 3 </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="box">
              <div class="img_container">
                <div class="img-box">
                  <img src="../public/images/p1.jpg" alt="" />
                </div>
              </div>
              <div class="detail-box">
                <h5>Participate</h5>
                <p>
                  Join your desired pool by clicking on the participate button
                  and earn your rewards in your wallet.
                </p>
                <a href=""> Step 4 </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end process section -->

    <!-- about section -->

    <section class="about_section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 px-0">
            <div class="img-box">
              <img src="../public/images/about-img.jpg" alt="" />
            </div>
          </div>
          <div class="col-md-5">
            <div class="detail-box pl-0 pl-md-2">
              <div class="heading_container">
                <h2>About Us</h2>
              </div>
              <p>
                Unknown printer took a galley of type and scrambled it to make a
                type specimen book. It has survived not only five centuries, but
                also the leap into electronic typesetting, remaining essentially
                unchangedunknown printer took a galley of type and scrambled it
                to make a type specimen book. It has survived not only five
                centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged
              </p>
              <a href=""> Read More </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end about section -->

    <!-- innovative section -->

    <section class="invt_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>Innovative Payment Network</h2>
              </div>
              <p>
                Content of a page when looking at its layout. The point of using
                Lorem Ipsum is that it has a more-or-less normal distribution of
                letters, as opposed to using 'Content here, content here',
                making it look like
              </p>
              <a href=""> Read More </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="../public/images/innovative-img.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end innovative section -->

    <!-- why section -->

    <section class="why_section layout_padding-bottom">
      <div class="container">
        <div class="heading_container heading_center">
          <h2>Why BitCoin?</h2>
        </div>
        <div class="why_container">
          <div class="box">
            <div class="detail-box">
              <h4>
                BitCoin for <br />
                Individuals
              </h4>
            </div>
          </div>
          <div class="box">
            <div class="detail-box">
              <h4>
                BitCoin for <br />
                Business
              </h4>
            </div>
          </div>
          <div class="box">
            <div class="detail-box">
              <h4>
                BitCoin for <br />
                Investors
              </h4>
            </div>
          </div>
        </div>
        <div class="btn-box">
          <a href=""> Read More </a>
        </div>
      </div>
    </section>

    <!-- end why section -->

    <!-- contact section -->
    <section class="contact_section layout_padding-bottom">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 px-0">
            <div class="form_container">
              <div class="row">
                <div class="col-lg-9 col-md-10 ml-auto">
                  <h2>Enquire Now</h2>
                  <form action="">
                    <div>
                      <input type="text" placeholder="Your Name" />
                    </div>
                    <div>
                      <input type="text" placeholder="Phone Number" />
                    </div>
                    <div>
                      <input type="email" placeholder="Email" />
                    </div>
                    <div>
                      <input type="text" class="message-box" placeholder="Message" />
                    </div>
                    <div class="btn_box">
                      <button>SEND</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 px-0">
            <div class="img-box">
              <img src="../public/images/contact-img.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end contact section -->

    <!-- client section -->

    <section class="client_section layout_padding-bottom">
      <div class="container">
        <div class="heading_container heading_center">
          <h2>Testimonial</h2>
          <hr />
        </div>
        <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-lg-7 col-md-9 mx-auto">
                  <div class="client_container">
                    <div class="img-box">
                      <img src="../public/images/client-img.png" alt="" />
                    </div>
                    <div class="detail-box">
                      <h5>Jone Mark</h5>
                      <p>
                        Got 2 btc, thanks to u guys, your team are doing a great
                        job 👍
                      </p>
                      <span>
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-lg-7 col-md-9 mx-auto">
                  <div class="client_container">
                    <div class="img-box">
                      <img src="../public/images/mike.jpg" alt="" class="img_round" />
                    </div>
                    <div class="detail-box">
                      <h5>Elton Mike</h5>
                      <p>
                        I'm still in shock about this platform I just got my
                        double bonus after participating in the giveaway few
                        minutes ago, I'm so excited and relieved thank you so
                        much for this event.
                      </p>
                      <span>
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-lg-7 col-md-9 mx-auto">
                  <div class="client_container">
                    <div class="img-box">
                      <img src="../public/images/client-img.png" alt="" />
                    </div>
                    <div class="detail-box">
                      <h5>Jone Mark</h5>
                      <p>
                        This is a unique event, not all companies can pull this
                        off. I just received 3ETH! Thanks so much.
                      </p>
                      <span>
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
            <span>
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
            <span>
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </section>

    <!-- end client section -->

    <%- include('footer') %>

      <!-- jQery -->
      <script type="text/javascript" src="../public/js/jquery-3.4.1.min.js"></script>
      <!-- popper js -->
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
      <!-- bootstrap js -->
      <script type="text/javascript" src="../public/js/bootstrap.js"></script>
      <!-- custom js -->
      <script type="text/javascript" src="../public/js/custom.js"></script>
  </body>

</html>
